~*
*.sql
.vagrant
node_modules

# vccw
provision
Vagrantfile
Movefile

# WordPress
www/wordpress/.*
www/wordpress/*.php
www/wordpress/*.html
www/wordpress/*.txt
www/wordpress/wp-admin
www/wordpress/wp-includes
www/wordpress/wp-content/*.php
www/wordpress/wp-content/ewww
www/wordpress/wp-content/languages
www/wordpress/wp-content/mu-plugins
www/wordpress/wp-content/upgrade
www/wordpress/wp-content/uploads
www/wordpress/wp-content/plugins
www/wordpress/wp-content/themes
