~*
*.sql
.vagrant
node_modules
reaction-symlink

# vccw
provision
Vagrantfile
Movefile

# Build files
www/html/.*
www/html/index*
www/html/bundle*

www/html/wp/.*
www/html/wp/*.php
www/html/wp/*.html
www/html/wp/*.txt
www/html/wp/wp-admin
www/html/wp/wp-includes
www/html/wp/wp-content/*.php
www/html/wp/wp-content/ewww
www/html/wp/wp-content/languages
www/html/wp/wp-content/mu-plugins
www/html/wp/wp-content/upgrade
www/html/wp/wp-content/uploads
www/html/wp/wp-content/plugins
www/html/wp/wp-content/themes

www/wordpress/.*
www/wordpress/*.php
www/wordpress/*.html
www/wordpress/*.txt
www/wordpress/wp-admin
www/wordpress/wp-includes
www/wordpress/wp-content/*.php
www/wordpress/wp-content/ewww
www/wordpress/wp-content/languages
www/wordpress/wp-content/mu-plugins
www/wordpress/wp-content/upgrade
www/wordpress/wp-content/uploads
www/wordpress/wp-content/plugins
www/wordpress/wp-content/themes
